---
import '../styles/global.css';
type Props = {
  frontmatter: {
    title: string;
    desc: string;
    isIndex?: boolean;
  };
};
const { frontmatter } = Astro.props;
const { desc, isIndex } = frontmatter;
const title = isIndex
  ? frontmatter.title
  : `${frontmatter.title} | 終末式ローマ字`;
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <!-- OGP -->
    <meta property='og:title' content={title} />
    <meta name='twitter:title' content={title} />
    <meta name='description' content={desc} />
    <meta property='og:description' content={desc} />
    <meta name='twitter:description' content={desc} />
    <meta property='og:type' content='article' />
    <meta
      name='twitter:image'
      content='https://shuuro.tktb-tess.dev/link-card.jpg'
    />
    <meta
      property='og:image'
      content='https://shuuro.tktb-tess.dev/link-card.jpg'
    />
    <meta name='twitter:card' content='summary' />
    <meta property='og:site_name' content='終末式ローマ字' />
    <meta property='og:url' content='https://shuuro.tktb-tess.dev' />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Inter/font-face.css'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Charis/font-face.css'
      crossorigin='anonymous'
    />

    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='flow-root bg-slate-50 dark:bg-slate-950'>
    <header>
      <h1 id='title' class='text-center text-4xl md:text-5xl font-extralight my-12'>{frontmatter.title}</h1>
    </header>
    <main
      class=''
    >
      <slot />
    </main>
  </body>
</html>
