---
import '../styles/global.css';
type Props = {
  frontmatter: {
    title: string;
    desc: string;
    isIndex?: boolean;
  };
};
const { frontmatter } = Astro.props;
const { desc, isIndex } = frontmatter;
const title = isIndex
  ? frontmatter.title
  : `${frontmatter.title} | 終末式ローマ字`;
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <!-- OGP -->
    <meta property='og:title' content={title} />
    <meta name='twitter:title' content={title} />
    <meta name='description' content={desc} />
    <meta property='og:description' content={desc} />
    <meta name='twitter:description' content={desc} />
    <meta property='og:type' content='article' />
    <meta
      name='twitter:image'
      content='https://shuuro.tktb-tess.dev/link-card.jpg'
    />
    <meta
      property='og:image'
      content='https://shuuro.tktb-tess.dev/link-card.jpg'
    />
    <meta name='twitter:card' content='summary' />
    <meta property='og:site_name' content='終末式ローマ字' />
    <meta property='og:url' content='https://shuuro.tktb-tess.dev' />
    <link
      rel='stylesheet'
      href='https://tktb-tess.github.io/resources/fonts/Inter/setting.css'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://tktb-tess.github.io/resources/fonts/Charis/setting.css'
      crossorigin='anonymous'
    />

    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='flow-root bg-slate-50 dark:bg-slate-950'>
    <main
      class='w-full max-w-320 mx-auto px-4 prose dark:prose-invert prose-sm md:prose-base 2xl:prose-lg
    prose-h1:my-12 prose-h2:border-b-3 prose-h1:text-3xl md:prose-h1:text-5xl prose-h1:font-extralight
    prose-h2:border-double prose-h2:ps-1 prose-headings:font-normal
    prose-a:text-blue-700 dark:prose-a:text-cyan-400 prose-a:font-normal'
    >
      <h1 id='title' class='text-center'>{frontmatter.title}</h1>
      <slot />
    </main>
  </body>
</html>
