---
import '../styles/global.css';
import type { MarkdownLayoutProps } from 'astro';
import OGP from './OGP.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  desc: string;
}>;
const { frontmatter, url = '' } = Astro.props;
const { desc, title } = frontmatter;
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/vnd.microsoft.icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Inter/font-face.css'
      crossorigin='anonymous'
    />
    <meta name='generator' content={Astro.generator} />
    <OGP {title} path={url} description={desc} />
  </head>
  <body>
    <header>
      <h1 id='title'>
        {title}
      </h1>
    </header>
    <aside></aside>
    <main>
      <slot />
    </main>
  </body>
</html>
